<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jayson.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Jayson.Properties.Settings.DictionaryConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Peter\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\v11.0\Dictionary.mdf&quot;;Initial Catalog=dictionary;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Jayson.Properties.Settings>
            <setting name="SQL" serializeAs="String">
                <value>SELECT * FROM dictionary</value>
            </setting>
        </Jayson.Properties.Settings>
    </applicationSettings>
</configuration>